/**** DEFAULTS ****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  
    line-height: 1.6;
    font-family: sans-serif; 
}

/**** PAGES ****/
.page{
    display: none;
    width: 100%;
    min-height: 100%; 
    position: fixed;   
    padding: 1rem 2rem;
}
.active{
    display: block; 
}
#home{
    background-color: hsl(60, 50%, 80%);
}
#list{
    background-color: hsl(180, 50%, 80%);
}
#detail{
    background-color: hsl(240, 50%, 80%);
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
p{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.big{
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid black;
}
th {
    background-color: #f4f4f4;
}
